@import "./variables.scss";
.section__advantages {
    font-size: 18px;
    margin: 0 auto;
}
.advantages__text {
 display: grid;
 grid-template-columns: 1fr 3fr;
 position: relative;
}

.advantages__text__year {
    font-size: 18px;
    margin-top: 5px;
}

.advantages__text__specialize {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;

    & span {
        background: $accent-text-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.advantages__text__goals {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 20px;
    margin-bottom: 20px;
}
.advantages__list__mission {
    margin: 0 auto;
    & li {
        margin-bottom: 20px;
    }
    & li:last-child {
        margin-bottom: 0;
    }
    & li:first-child {
        width: 260px;
    }
}
.advantages__list__arguments {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & li {
        margin-bottom: 20px;
    }
    & li:last-child {
        margin-bottom: 0;
    }
}
.advantages__item__arguments {
    position: relative;
    min-width: 169px;
    text-align: left;
    
}
.advantages__item__figure {
    font-size: 128px;
    font-weight: 600;
    text-align: left;
  
}
.advantages__item__text {
    background-color: $bground-color;
    padding-top: 15px;
    text-transform: uppercase;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .advantages__text__specialize {
        font-size: 76px;
        width: 580px;
    }
    .advantages__text__year {
        margin-top: 15px;
    }
    .advantages__text__goals {
      margin-left: auto;
    }
    .advantages__list__mission {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        & li {
            margin-bottom: 0;
        }
        & li:first-child {
            width: 330px;
        }
        & li:last-child {
            width: 123px;
        }
    }
    .advantages__list__arguments {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
        & li {
            width: 270px;
            margin-bottom: 0;
        }

        & li:nth-child(odd) {
            margin-right: 100px;
        }
        & li:nth-child(-n + 2) {
            margin-bottom: 70px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .advantages__text {
       margin-bottom: 20px;
       }
    .advantages__text__specialize {
        font-size: $title-section-font-size;
        width: 893px;
    }
    .advantages__text__goals {
       position: absolute;
       bottom: 0;
       right: 0;
       width: 180px;
    }
    .advantages__list__mission {
        display: flex;
        justify-content: space-between;
        margin-left: 280px;
        margin-bottom: 50px;
        & li {
            margin-bottom: 0;
        }
        & li:first-child {
            width: 330px;
        }
        & li:last-child {
            width: 123px;
        }
    }
    .advantages__list__arguments {
       margin-left: 270px;
       justify-content: start;
       & li:nth-child(odd) {
        margin-right: 240px;
    }
    }
}