@import "./variables.scss";

.footer {
    position: relative;
    padding: 20px 0;
}
.footer__logo {
    font-size: 58px;
    font-weight: $logo-font-weight;
    line-height: 110%;
    position: absolute;
    bottom: -30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 60px 0;
    }
    .footer__logo {
        font-size: 130px;
    }
}
@media screen and (min-width: 1200px) {
    .footer {
        padding: 80px 0;
    }
    .footer__logo {
        font-size: 200px;
        bottom: -80px;
    }
   
}
@media screen and (min-width: 1440px) {
    .footer {
        padding: 90px 0;
    }
    .footer__logo {
        font-size: $logo-footer-font-size;
        bottom: -150px;
    }
}