@import "./variables.scss";
.form__title {
    text-indent: 34%;
}
.form__text {
    margin-top: 20px;
    font-size: 18px;
    font-size: 18px;
    line-height: 1.1;
    text-align: start;
    width: 230px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 260px;
  }
.form__input-data {
    width: 100%;
    margin: 40px 0;
    position: relative;
    background-color: $bground-color;
}
.form__input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    background-color: $bground-color;
    border-bottom: 1px ridge $text-color;
    &:focus {
        outline: none;
    }
}
.form__input-data .form__input:focus ~ label {
    transform: translateY(-20px);
    font-size: 14px;
    background: $accent-text-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form__input-data .form__label {
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}
.form__label {
    width: 100%;
    bottom: 40px;
    color: $text-color;
}

@media screen and (min-width: 768px) {
    .section__form {
        position: relative;
    }
    .form {
        width: 580px;
        button {
            align-self: start;
        }
    }
    .form__text {
      position: absolute;
      top: 265px;
      right: 10px;
      width: 200px;
    }
}
@media screen and (min-width: 1200px) {
    .form__title {
        text-indent: 24%;
    }
    .form__text {
      top: 230px;
      right: 0px;
     
    }
    .form {
        margin-top: 70px;
    }
}
@media screen and (min-width: 1400px) {
    .form__title {
        text-indent: 33%;
    }
    .form__text {
      top: 230px;
      right: 450px;
     
    }
    .form {
        margin-top: 70px;
    }
}