@import "./variables.scss";

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 30px 0;
}
.header__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-weight: 500;
    font-size: 24px;
    background: $accent-text-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header__list {
    & li {
        position: relative;
        margin-right: 20px;
    }
    & li:last-child {
        margin-right: 0;
    }
}
.header__menu__link {
    font-size: 18px;

    &:hover, &:focus {
        border-bottom: 1px solid;
        border-image: linear-gradient(to right, rgba(95,246,157,1), rgba(217,255,90,1)) 1;
        background: $accent-text-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.header__burger__icon {
    width: 100%;
    height: 20px;
    background-color: #fff;
}
.header__burger {
    display: none;
    & svg {
        fill: $text-color;
    }
}
.header__burger__icon-cross {
    display: none;
}
body._touch {
    & .header__list {
        & li {
            display: flex;
            align-items: center;  
            justify-content: start;
        } 
    }
  }
@media screen and (min-width: 767px) {
    .header__list {
        display: flex;
        align-items: center;
        padding-top: 10px;

        & .header__item {
            margin-bottom: 10px;
        }
    }
}


@media screen and (max-width: 767px) {
    .header__burger {
        z-index: 20;
        display: block;
        // position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        // background-color: transparent;

        &._active {
           & .header__burger__icon-cross {
                fill: #fff;
                display: block;
            }
           & .header__burger__icon-menu {
                display: none;
            }
        }
    }
  
      .header__menu {
        position: fixed;
        top: 0;
        left: -150%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 130px 30px 30px 30px;
        transition: all 0.3s ease 0s;
        overflow: auto;

        &._active {
            left: 0;
        }

        &::before {
            content: "";
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            height: 70px;
            z-index: 2;
        }
    }
    .header__list {
        & .header__item {
            margin-bottom: 30px;
        }
        & .header__item:last-child {
            margin-bottom: 0;
        }
    }
    .header__menu__link {
        font-size: 24px;
        letter-spacing: 2px;
        text-transform: uppercase;
        &:hover, &:focus {
           border-bottom: 1px solid;
           border-image: linear-gradient(to right, rgba(95,246,157,1), rgba(217,255,90,1)) 1;
        }
    }
   
}
@media screen and (min-width: 1200px) {
    .header__menu__link {
        font-size: 22px;
    }
    
}