@import "./variables.scss";

.section__services {
    background-image: url(/images/cube.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.services__title {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.services__title__margin {
    margin-left: 35px;
}
.services__button {
    margin: 0 0 30px 80px;      
}
.services__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  
}
.services__item {
    padding: 20px;
    border: 1px solid $text-color;
    background-color: $bground-color;
}
.services__item__title-cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.services__item__title {
    font-size: $title-list-font-size;
    font-weight: 600;
}
.services__item__text__bottom {
    margin-top: 100px;
}

@media screen and (min-width: 768px) {

.services__title {
    width: 760px;
}
.services__title__margin {
    margin-left: 105px;
}
.services__button {
    margin: 0 0 30px 500px;
}
.services__list {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.services__item__text__bottom {
    margin-top: 150px;
}
}
@media screen and (min-width: 1200px) {
    .section__services {
       background-position: center right;
       background-size: 600px 600px;
    }
    .services__title {
        margin-left: 0;
        width: 100%;
    }
    .services__title__margin {
        margin-left: 295px;
    }
    .services__list {
        grid-template-columns: 1fr 1fr 1fr;

        & li:nth-child(3) {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 2;
            grid-row-end: 2;
        }
        & li:nth-child(4) {
            grid-column-start: 3;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 2;
        }
    }
    .services__button {
        position: absolute;
        top: 350px;
        right: 90px;
        margin: 0;
    }
}
@media screen and (min-width: 1440px) {
    .section__services {
        background-position: top 410px right 220px;
  
    }
    .services__title {
        & .title__accent {
            display: block;
        }
    }
    .services__button {
        right: 80px;
    }
}